h1, h2, p, strong {
    font-family: 'Montserrat', sans-serif !important;
    /*font-family: 'Raleway', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Questrial', sans-serif;*/
}

h1 {
}

a{
    color:inherit;
}
footer {
    padding: 2em;
    color: aliceblue;
    position: relative;
    bottom:0;
    right: 0;
    left: 0;
    width: 100%;
}
/** Regles génériques */

.font-weight-bold {
    font-weight: bold;
}

.text-align-center {
    text-align: center;
}

.flex-direction-column {
    flex-direction: column;
}

.text-align-center {
    text-align: center;
}

.mt-2 {
    margin-top: 2em;
}

.mt-4 {
    margin-top: 4rem;
}

.mt-6 {
    margin-top: 10rem;
}

.mt-10 {
    margin-top: 10rem;
}

.mb-2 {
    margin-bottom: 2em;
}

.mb-3 {
    margin-bottom: 3rem;
}

.m-auto {
    margin: auto;
}

.pt-3 {
    padding-top: 3em;
}

.pb-3 {
    padding-bottom: 3em;
}

.d-flex {
    display: flex;
}

.alert-success {
    padding: 2em 5em;
    width: 100%;
    background-color: #9ccc65;
    border-radius: 0.3em;
}

.alert-danger {
    padding: 1em;
    width: 100%;
    background-color: #f44336;
    border-radius: 0.3em;
}

.back-btn {
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}

.back-btn:hover {
    color: #546e7a;
    border-bottom: 1px solid #546e7a;
}

/*********************
        Navbar
 *********************/

.navbar {
    background-color: initial;
    box-shadow: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    transition-duration: 0.7s;
}
.navbar.full {
    height: 100px;
    line-height: 100px;
}
.navbar.shrink {
    height: 60px;
    line-height: 60px;
}
.nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.nav li a {
    transition-duration: 0.7s;
    padding: 0 2em;
    text-transform: uppercase;
    color: #424242;
}
.nav li .active {
    color: rgb(199,162,41);
}
